name: Build project with Maven

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Java setup
      uses: ./.github/actions/java-setup

    - name: Build and Deploy
      run: mvn -B -e clean deploy

    - name: Unit tests
      run: mvn -B -e clean -P checkFormat verify
