name: "Publish to Maven Central"

env:
  CI_DEPLOY_USERNAME: ${{ secrets.CI_DEPLOY_USERNAME }}
  CI_DEPLOY_PASSWORD: ${{ secrets.CI_DEPLOY_PASSWORD }}
  CI_GPG_PASSPHRASE: ${{ secrets.CI_GPG_PASSPHRASE }}

# pull_request condition added temporarily to test the workflow
# once verified, it shall be removed
on:
  push:
    branches:
      - 'release/*'
  pull_request:
  workflow_dispatch:

jobs:
  publish-central:
    name: Publish to Maven Central
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          server-id: ossrh
          server-username: CI_DEPLOY_USERNAME
          server-password: CI_DEPLOY_PASSWORD
          gpg-private-key: ${{ secrets.CI_GPG_PRIVATE_KEY }}
          gpg-passphrase: CI_GPG_PASSPHRASE

      - name: Configure git
        run: |
          git config --global committer.email "infra@finos.org"
          git config --global committer.name "FINOS Admin"
          git config --global author.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git config --global author.name "${GITHUB_ACTOR}"

      - name: Download deps and plugins
        run: mvn de.qaware.maven:go-offline-maven-plugin:resolve-dependencies -s ./settings.xml

        #TODO: Remove -DdryRun=true for actual deployment
      - name: Prepare release
        run: mvn -B -DpreparationGoals=clean -DdryRun=true release:prepare -Prelease -DinteractiveMode=false

      - name: Perform release
        run: mvn -B release:perform -Prelease -DinteractiveMode=false